*{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 100;
}

body {
	background-color: #fff;
	display:  flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	width: 100%;
	padding: 5px 9px 5px 5px;
}

.header__ul {
	display:  flex;
	align-items: center;
	justify-content: flex-end;
}

.header-li {
	display: inline;
	padding: 8px 10px 10px 10px;
}

.header__ul li {
	font-size: 13px;
	list-style: none;
}

.header__ul .header-icon {
	padding: 6px
}

.header__ul .header-icon:hover {
	border-radius: 100%;
	background: #eee; 
}

.header__ul .header-icon img{
	width: 27px;
	height: 27px;
}

.header__ul a {
	text-decoration: none;
	color: #000;
}

.header-li a:hover {
	text-decoration: underline;
}

.header-img {
	padding: 10px;
}

.header-img img {
	height: 34px;
	border-radius: 100%;
}

.header-img img:hover {
	box-shadow: 0 0 3px #aaa;
}

.form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: auto;
}

.form__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 634px;
	max-width: 634px;

}

.form__container img {
	width: 272px;
}

.form-search {
	padding: 25px;
	display: flex;
	align-items: center;
	width: 100%
}

.form-search-container {
	border: 1px solid #dfe1e5;
	width: 100%;
	border-radius: 100px;
}

.form-search-container:hover {
	box-shadow: 0px 1px 4px #ccc;
}

.form-search i {
	color: #ccc;
	padding: 0 0 0 15px;
}

.form-search input {
	border: none;
	width: 80%;
	height: 44px;
	outline:  none;
}

.form-bottom {
	display:  flex;
	justify-content: center;
}

.form-bottom div {
	padding: 6px;
}

.form-bottom input {
	padding: 8px 20px 8px 20px;
	font-size: 14.5px;
	background: rgb(248, 248, 248);
	border: 0;
	border-radius: 5px;
}

.form-bottom input:hover {
	box-shadow: 0px 0px 3px #aaa;
}

.end__page {
	margin-top: auto;
	width: 100%;
	background: #f2f2f2;
	font-size: 14.5px;
}

.end__page-pais {
	padding: 13.5px 30px 13.5px 30px;
	border-bottom: 1px solid #ddd;
	color: #666;
}

.end__container ul{
	display: inline-block;
}

.end__container li{
	display: inline-block;
	padding: 13px 30px 13px 30px;
}

.end__container a {
	text-decoration: none;
	color: #666;
}

.end__container a:hover {
	text-decoration: underline;
}

.end__ul2 {
	float: right;
}

